<div class="row">
  <div class="col">
    <div class="arc-input-section">
      <form action="javascript:void(0);">
        <textarea name="arc-text-input" id="arc-text-input" class="textarea-input"></textarea>
        <div>
          <a class="btn">Sort</a>
          <a class="btn">Split</a>
          <a class="btn">Extract</a>
          <a class="btn">Replace</a>
          <a class="btn">Word Count</a>
          <a class="btn">Char Count</a>
          <a class="btn">Line Count</a>
        </div>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="arc-text-output">
      <div name="text-output" id="arc-text-output" ></div>
    </div>
  </div>
</div>