<div class="row">
  <div class="col">
    <div class="arc-input-section">
      <form action="javascript:void(0);" id="arc-input-form">

        <textarea name="arc-text-input" id="arc-text-input" class="textarea-input"></textarea>

        <div class="arc-actions">
          <a class="btn arc-action" data-command="sort">Sort</a>
          <a class="btn arc-action" data-command="split">Split</a>
          <a class="btn arc-action" data-command="uniq">Uniq</a>
          <a class="btn arc-action" data-command="upper">Upper</a>
          <a class="btn arc-action" data-command="lower">Lower</a>
          <a class="btn arc-action">Extract</a>
          <a class="btn arc-action">Replace</a>
          <a class="btn arc-action">Word Count</a>
          <a class="btn arc-action">Char Count</a>
          <a class="btn arc-action">Line Count</a>
        </div>

        <div><a class="btn" id="arc-clear">Clear</a></div>
        <div><a class="btn" id="arc-submit">Submit</a></div>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="arc-output-section">
      <div name="text-output" id="arc-text-output" ></div>
    </div>
  </div>
</div>