body {
  background-image: url("bg.jpg");
  max-width: 1500px;
  max-height: 1000px;
  background-repeat: no-repeat;

  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: #2E2F30;
}