$default-text-color: #2E2F30;
$default-font-size: 16px;
$default-font: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$default-bg-color: #fff;
$default-padding: 10px;

$notice-color: #a8a83c;
$alert-color: #a84b3c;
$theme-color: #3a7999;

$default-border-thickness: 1px;